.NewTodoForm {
  width: 50vw;
  margin: auto;
}

.NewTodoForm input {
  width: 36vw;
  border: none;
  font-weight: 900;
  box-shadow: 0px 9px 20px lightgrey;
  padding: 0.3rem;
  font-size: 2rem;
  caret-color: transparent;
}

.NewTodoForm button {
  width: 13vw;
  padding: 0.3rem;
  border: none;
  background: turquoise;
  color: white;
  font-weight: 900;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  font-size: 2rem;
}

.NewTodoForm input:focus {
  outline: none;
}