.Todo h1:hover {
  text-decoration: line-through;
  color: red;
  cursor: pointer;
}

.Linethrough {
  text-decoration: line-through;
}

.Todo h1,
.Todo form {
  width: 660px;
}

.Todo button {
  border: none;
  background: lightcyan;
  padding: 0.7rem;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  cursor: pointer;
}

.Todo button:focus {
  outline: none;
}

.Todo input {
  height: 2rem;
  border: none;
  font-weight: 900;
  text-align: center;
  box-shadow: -1px -1px 5px lightgrey;
  border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.Todo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  margin: auto;
  min-width: 50vw;
}

.Todo p {
  background: coral;
  padding: 0.5rem;
  margin-left: 2rem;
  font-weight: 900;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}
